*.avro
*.old
*.backup
linter_issues.json
index.checkpoint
vendor
*.parquet
*.db
*.pyc
coverage*
coverage.*
*.out
.env

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# VS Code settings
.vscode

tmp/*
temp/*
saved_cities.txt


# Diff files
diff.txt
*.diff
*.patch
