*.avro
*.old
*.backup
linter_issues.json
index.checkpoint
vendor
*.parquet
*.db
*.pyc
fodmap
coverage*
coverage.*
*.out
.env

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# VS Code settings
.vscode

tmp/*
saved_cities.txt
models/
